.body{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
    height: 100vh;
}
body{
    background-color: #e5e5e56e;
}
aside{
    background-color: #FAFFC1;
}
.title{
    border-left: solid 6px #00C1FE;
}
.div1{
    background-color: hsla(204, 100%, 97%, 1);
}
.div2{
    background-color: hsla(322, 80%, 98%, 1);
}
.div3{
    background-color: hsla(50, 90%, 96%, 1);
}
.div4{
    background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}
.img{
    height: 50px !important;
}
.head{
    color: rgba(172, 172, 172, 1);
}
table{
    border-spacing: 0 15px !important;
    border-collapse: separate;
    max-width: 1200px !important;
    width: 1500px !important;
}
.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #FAFFC1;
    transition: 0.5s;
  }
  a:active{
      background-color:#00C1FE;
  }
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  .active-cont {
    margin-left: 180px;
  }



  
 
